<div><%- include('./includes/about.ejs') %></div>
<div><%- include('./includes/counter.ejs') %></div>
<div><%- include('./includes/summary.ejs') %></div>
<div><%- include('./includes/skills.ejs') %></div>
<div><%- include('./includes/certificates.ejs') %></div>
<div><%- include('./includes/services.ejs') %></div>
<div><%- include('./includes/banner.ejs') %></div>
<div><%- include('./includes/works.ejs') %></div>
<div><%- include('./includes/portfolio.ejs') %></div>
<div><%- include('./includes/contact.ejs') %></div>

<%- include('./libraries/scripts.ejs') %>